.Dialog {
    width: 382px;
    height: 64px;
    position: relative;
    margin-bottom: 16px;
}

.Dialog .UserPhoto {
    position: absolute;
    top: 0;
    left: 0;
}

.Dialog .UserName {
    position: absolute;
    top: 0;
    left: 80px;
}

.Dialog .Discription {
    position: absolute;
    top: 28px;
    left: 80px;
}

.Dialog .Time {
    position: absolute;
    top: 0;
    right: 12px;
}