.LogIn {
    display: grid;
    justify-content: center;
    height: 100vh;
}

.LogIn .Logo {
    align-self: flex-start;
    justify-self: center;
    margin-top: 180px;
}

.LogIn .Actions {
    align-self: flex-end;
    margin-bottom: 50px;
}

.LogIn .actions {
    text-align: center;
    margin-top: 36px;
}

.LogIn button {
    margin-left: 10px;
}

.LogIn .Linkbtn {
    margin-top: 36px;
}

.LogIn .startLogo {
    padding-left: 22px;
}

.LogIn .presentText {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;

    text-align: center;
    color: #BBBBBB;
}