.Message {
    background: #292D39;
    border-radius: 12px;
    max-width: 295px;
    margin-bottom: 12px;
    animation: blockStart 1 .75s;
}
.MessageIn{
    margin-left: 64px;
}

.Message .Content {
    padding: 8px;
}

.Message .Text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
    display: inline-block;
}

.Message .Time {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;

    text-align: right;
    display: inline-block;

    color: #BBBBBB;
    margin-left: 8px;
}

.Message .Sent {
    margin-left: 8px;
}





/*Message animation */
@keyframes blockStart {
    from {
      opacity: 0;
      transform: scale(0.95);
    } to {
      opacity: 1;
      transform: scale(1);
    }
  }