.Registration {
    display: grid;
    justify-content: center;
    height: 100vh;
}

.Registration .Logo {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.Registration .Logo img {
    width: 200px;
}

.Registration .Actions {
    align-self: flex-end;
    margin-bottom: 50px;
}

.Registration button {
    margin-left: 10px;
}

.Registration .Linkbtn {
    margin-top: 36px;
}

.Registration .presentText {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;

    text-align: center;
    color: #BBBBBB;
}