@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1 {
  font-family: 'Exo 2';
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #FFFFFF;
}

h2 {
  font-family: 'Exo 2';
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #BBBBBB;
}

label h2 {
  line-height: 8px;
}

h3 {
  font-family: 'Exo 2';
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  color: #FFFFFF;
}

p {
  font-family: 'Roboto';
  font-size: 13px;
  line-height: 15px;

  color: #BBBBBB;
}

button {
  min-width: 300px;
  min-height: 52px;

  font-family: 'Exo 2';
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #FFFFFF;
  background: linear-gradient(279.83deg, #7F00FF 0%, #E100FF 100%);

  border: 0;
  border-radius: 12px;

  cursor: pointer;
}

a {
  text-decoration: none;
}

label {
  font-family: 'Exo 2';
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #BBBBBB;
}

input {
  background: #292D39;
  color: #FFFFFF;

  border: 1px solid #BBBBBB;
  box-sizing: border-box;
  border-radius: 12px;

  min-width: 320px;
  min-height: 40px;

}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  padding: 8px;
}

input[type="text"],
input[type="password"] {
  padding: 8px;
}

.presentText {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;

  text-align: center;
  color: #BBBBBB;
}

.linkBtn {
  font-family: 'Exo 2';
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #FFFFFF;

  cursor: pointer;
}

.itemBtn {
  display: flex;
}

.itemBtn img {
  margin-right: 20px;
}