.LogIn {
    display: grid;
    justify-content: center;
    height: 100vh;
}

.LogIn .Logo {
    align-self: flex-start;
    justify-self: center;
    margin-top: 180px;
}

.LogIn label,
.LogIn input{
    display: block;
}

.LogIn label{
    margin-bottom: 24px;
}

.LogIn .Actions {
    align-self: flex-end;
    margin-bottom: 50px;
}


.LogIn .actions {
    text-align: center;
    margin-top: 36px;
}

.LogIn .linkBtn {
    text-align: center;
    margin-top: 36px;
}

.startLogo {
    padding-left: 22px;
}