.Registration {
    display: grid;
    justify-content: center;
    height: 100vh;
}

.Registration .Logo {
    align-self: flex-start;
    justify-self: center;
    margin-top: 180px;
}

.Registration .Actions {
    align-self: flex-end;
    margin-bottom: 50px;
}


.Registration .actions {
    text-align: center;
    margin-top: 36px;
}

.Registration .linkBtn {
    text-align: center;
    margin-top: 36px;
}

.regLogo {
    padding-left: 94px;
}

.Registration label,
.Registration input{
    display: block;
}

.Registration label{
    margin-bottom: 16px;
}