.Messager {
    display: flex;
    height: 90vh;
    align-items: flex-end;
}

.MessagerWrapper {
    margin-bottom: 52px;
}

.sendMessage {
    display: flex;
}

.sendMessage img {
    padding-left: 8px;
}

.EmptyMessager {
    justify-items: center;
    display: grid;
    margin-bottom: 36vh;
}