.Account {
    width: 320px;
    height: 64px;
    position: relative;
    margin-bottom: 16px;
}

.Account .UserPhoto {
    position: absolute;
    top: 0;
    left: 0;
}

.Account .UserName {
    position: absolute;
    top: 0;
    left: 80px;
    line-height: 0px;
}

.Account .Discription {
    position: absolute;
    top: 20px;
    left: 80px;

    font-size: 14px;
    line-height: 16px;

    opacity: 0.5;
}