.MessageWrapper{
    display: flex;
}

.Message {
    background: #292D39;
    border-radius: 14px 14px 14px 0;
    margin-bottom: 8px;
    animation: blockStart 1 .75s;
    display: inline-block;
}

.MessageWrapperIn{
    display: flex;
    flex-direction: row-reverse;
}

.MessageIn{
    border-radius: 14px 14px 0 14px;
    text-align: end;
}

.Message .Text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
    display: inline-block;

    max-width: 295px;

    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    padding: 8px 12px 0 12px;
}

.Message .Time {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 4px;

    text-align: right;
    display: inline-block;

    color: #BBBBBB;
    padding: 0 8px 0 12px;
}

.Message .Sent {
    padding-right: 8px;
}


/*Message animation */
@keyframes blockStart {
    from {
      opacity: 0;
      transform: scale(0.95);
    } to {
      opacity: 1;
      transform: scale(1);
    }
  }